body{
    width: 400px;
    height: max-content;
}
h1{
    text-align: center;
    color: #05598aee;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100%;
    border: none;
    color: white;
    background-color: #00b0ff;
}
